body {
    font-family: Arial, sans-serif;
}

/*Menu*/
div.nav {
    margin-top: auto;
    margin-bottom: 100px;
    font-size: 13px;
    display: flex;   
    justify-content: flex-end; 
}
div.gmail-images {
    display: inline-flex;
    padding-top: 6px;
}

nav#navigation {
    margin: 15px;
}
ul.navigation-bar {
    list-style-type: none;
    text-align: center;
    margin: 0px;
    display: flex;
    justify-content: flex-end;
}

ul.navigation-bar li a {
    display:inline;
    padding: 0px 10px 0px 10px;
}

input.log-in {
    padding: 7px;
    color: white;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    background: linear-gradient(top,#4387fd,#4683ea);
}
a.gmail {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}
a.imagenes {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

/*Sprite*/
#navigation .navigation-bar li a.sprite {
    background: url("https://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
    background-repeat: no-repeat;
    zoom: 1;
    display: inline-block;
}
#navigation .navigation-bar li a.menu {
    background-position: -139px -45px;
    width: 16px;
    height: 16px;
    
}
 /*Imagen */
div.image {
    text-align: center;
}